    @use "sass:math";
    @import '_core/_mixins';                             // Миксины и функции шаблона
    @import '_core/_classes';                            // SCSS Классы
    @import '_core/_normalize';                          // Обнуление стилей
    

//= Шрифты по-умолчанию ==========================================================================================
    //@import 'fonts.scss';                              // Для подключения локальных шрифтов  
    //&display=swap                                      // Оптимизирует загрузку шрифтов из Google Fonts - добавить в конце

    @import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap');

    $ff1: 'Roboto', sans-serif;                          // Семейство шрифта по-умолчанию
    $ff2: 'Open Sans', sans-serif;                       // Семейство шрифта по-умолчанию
    $defaulFontSize: rem(16);                            // Размер шрифта по-умолчанию
    $defaulLineHeight: 1.5;                              // Высота строки по-умолчанию
    $defaultTextColor: #150C01;                        // Цвет шрифта по-умолчанию
//= Цвета темы ===================================================================================================


//= Основные настройки ===========================================================================================
    $minWidth: 375;                                      // Минимальная ширина сайта         
    $maxWidth: 1440;                                     // Максимальная ширина сайта
    $containerPadding: 15;                               // Внутренний отступ контейнера
    $containerMaxWidth: 1200;                            // Максимальная ширина контейнера
    $pd: $containerPadding + px;                         // Размер внутреннего отступа

    @import '_core/_variables';                          // Переменные шаблона
    @import '_core/_commons';
    @import '_imports';
//= Основные настройки ===========================================================================================