//= Bootstrap колонки ===================================================
    $col1: calc(100% / 12 * 1);
    $col2: calc(100% / 12 * 2);
    $col3: calc(100% / 12 * 3);
    $col4: calc(100% / 12 * 4);
    $col5: calc(100% / 12 * 5);
    $col6: calc(100% / 12 * 6);
    $col7: calc(100% / 12 * 7);
    $col8: calc(100% / 12 * 8);
    $col9: calc(100% / 12 * 9);
    $col10: calc(100% / 12 * 10);
    $col11: calc(100% / 12 * 11);
    $col12: calc(100% / 12 * 12);
//= END Bootstrap колонки =================================================



//= Медия-запросы =========================================================
    $md0: $maxWidth;
    $md1: $containerMaxWidth + $containerPadding * 2;    
    $md2: 991.98;                                        
    $md3: 767.98;
    $md4: 479.98;    
    $md5: 374.98;   
    $md6: 320;                                     
//= END Медия-запросы ======================================================



//= Анимация и переходы ====================================================
    $transition: 0.3s ease 0s;
    $transition_delay: 0.3s ease 0.3s;
//= END Анимация и переходы=================================================